{% extends "main_f/base_html.html" %}
{% load staticfiles %}

{% block styles %}
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" type= "text/css"
  >
  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous"
  >
  <link rel="stylesheet"
    href="{% static 'main_f/css/base_css.css' %}" type= "text/css"
  >
{% endblock %}


{% block scripts %}
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js">
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous">
  </script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous">
  </script>
  <script src="{% static 'main_f/js/base_js.js' %}"></script>
{% endblock %}


{% block content %}
  <div class="username d-none">{{ request.session.name }}</div>
  <!--logout-->
  <form class="userexit ajax_form" action="user_out" method="post" id="log_out">
    <button type="submit" class="text_white">Exit</button>
  </form>

  <section class="content">
    <!--login-->
    <div class="empty_user">
      <form class="ajax_form" action="user_in" method="post" id="log_in">
        {{ user_form.as_p }}
        <button type="submit" class="text_white">Enter</button>
      </form>
    </div>

    <!--send message-->
    <div class="exists_user">
      <div class="">Если никнейм получателя будет совпадать с одним из этой рэстки
        (http://jsonplaceholder.typicode.com/users), то в базу будет подставлена
        почта получателя, а также письмо получит статус "sended"
      </div>
      <br>
      <form class="ajax_form" action="ajax_form" method="post" id="send_message">
        {{ message_form.as_p }}
        <button type="submit" class="text_white">Send</button>
      </form>
    </div>
  </section>

{% endblock %}
